<h2> Viewing <%= @game.name %> </h2>
<p>
    <h3>Found by: <%= @game.user.name %></h3>
    <h3>Genre: <%= @game.genre %></h3>
    <h3>Company: <%= @game.company %></h3>
    <h3>System: <%= @game.platform %></h3>
    <h3>Date: <%= @game.date %></h3>
</p>
<%if current_user && current_user.id == @game.user.id %>
     <%= link_to 'Edit this game!', edit_game_path(@game)%><br>
     <br>
     <%= link_to 'Delete this Game!', game_path(@game), method: :delete, data: {confirm: 'Are you sure you would like to delete this entry?'}%><br>
     <br>
     <%= link_to 'See the reviews of this Game!', "/games/#{params[:id]}/reviews" %>
<% end %>
<br>
<br>
    <%= link_to 'Home', home_path(@user) %>
<br>
<br>


<h3>Reviews:</h3>
    <% @game.reviews.each do |review| %>
        <%if review.id != nil %>
            <%=@review_user[review.user_id]%> said,
            "<%= review.content %>"<br>
            <br>
        <% end %>
<% end %>
